<div [@routerTransition]>
    <app-page-header [heading]="'Upload'" [icon]="'fa-file-o'"></app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-default mb-3">
                <div class="card-header">
                    Upload-Page
                </div>
                <div class="card-body">
                        <div class="form-group" >
                                <label for="file">Choose File</label>
                                <input type="file" class="form-control" name="documents" id="file" (change)="onFileChange($event)"/>
                            </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" >Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>