<div [@routerTransition]>
    <app-page-header [heading]="'Tenants'" [icon]="'fa-file-o'"></app-page-header>
    <div class="row">
            <div class="col-12">
                <div *ngIf="tableResult">
                    <div class="card mb-3" *ngFor="let tenant of tableResult.data">
                        <div class="card-header bg-secondary text-white">
                            <h4>{{ tenant.description }}</h4>
                        </div>
                        <div class="card-body">
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>